@import "./reset.css";

/*:root -> 获取根元素html*/
:root {
  --color-text: #6f6f6f;
  --color-high-text: #ff5777;
  --color-tint: #ff8198;
  --color-background: #fff;
  --font-size: 14px;
  --line-height: 1.5;
}

body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, legend, input, button,
textarea, p, blockquote, th, td
{
  font-size: 17;
  font-family: "Microsoft YaHei", SimSun, sans-serif;
  text-decoration: none;

  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1px;
  color: var(--color-text);
}

a {
  color: var(--color-text);
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d81e06;
}
::-webkit-scrollbar-track {
  background-color: #ffffff;
}
/* 
* {
  outline: 1px red solid;
} */